<div class="container-fluid">
    <div class="row">
        <!-- Pie Chart -->
        <div class="col-12 col-md-6 p-5 position-relative">

            <div class="position-absolute top-0 start-0 m-3">

                <!-- Datepicker -->
                <p-datepicker [(ngModel)]="date1" view="month" dateFormat="mm/yy" [readonlyInput]="true"
                    placeholder="{{today.getMonth() + 1}}/{{today.getFullYear()}}" (onSelect)="onMonthYearChange()">
                </p-datepicker>

            </div>

            <div class="w-100  d-flex justify-content-center align-items-center"
                style="max-width: 500px; height: 500px; margin-top: 50px;" *ngIf="isDataAvailable">
                <p-chart type="pie" [data]="pieData" [options]="pieOptions" style="width: 100%; height: auto; ">
                </p-chart>
            </div>

            <div class="w-100  d-flex justify-content-center align-items-center"
                style="max-width: 500px; height: 500px; margin-top: 50px;" *ngIf="!isDataAvailable">
                <p>No data available for the selected Month.</p>
            </div>

        </div>
        <!-- Bar Chart -->
        <div class="col-12 col-md-6 p-4 position-relative">
            <div class="position-absolute top-0 end-0 m-3">
                <p-datepicker [(ngModel)]="date2" view="year" dateFormat="yy" [readonlyInput]="true"
                    placeholder="{{today.getFullYear()}}" (onSelect)="onYearChange()"></p-datepicker>
            </div>

            <div class="w-100 d-flex justify-content-center align-items-center"
                style="max-width: 600px; height: 500px; margin-top: 50px;" *ngIf="isYearlyDataAvailable">
                <p-chart type="bar" [data]="barData" [options]="barOptions"
                    style="width: 100%; height: auto;"></p-chart>
            </div>
            <div class="w-100  d-flex justify-content-center align-items-center"
                style="max-width: 500px; height: 500px; margin-top: 50px; margin-left: 10%;"
                *ngIf="!isYearlyDataAvailable">
                <p>No data available for the selected Year.</p>
            </div>
        </div>

    </div>
</div>