<app-topbar></app-topbar>


<div class="tab-container">
    <a class="tab-item" [class.active]="activeTab === 'Overview'" (click)="setActiveTab('Overview')">
        Overview
    </a>

    <a class="tab-item" [class.active]="activeTab === 'Role'" (click)="setActiveTab('Role')">
        Role
    </a>
</div>

<div class="profile-container" *ngIf="activeTab === 'Overview'">
    <div class="profile-card">
        <div class="profile-header text-center mb-2">
            <h2 class="mb-3">Profile</h2>
        </div>

        <div class="input-group input-group-md mb-3">
            <span class="input-group-text">username</span>
            <input type="text" class="form-control" [value]="user.username" disabled>
        </div>

        <div class="input-group input-group-md mb-3">
            <span class="input-group-text">firstname</span>
            <input type="text" class="form-control" [(ngModel)]="user.firstName" [disabled]="!isUpdateMode" required>
        </div>

        <div class="input-group input-group-md mb-3">
            <span class="input-group-text">lastname</span>
            <input type="text" class="form-control" [(ngModel)]="user.lastName" [disabled]="!isUpdateMode">
        </div>

        <div class="input-group input-group-md mb-3">
            <span class="input-group-text">zipcode</span>
            <input type="text" class="form-control" [(ngModel)]="user.zipCode" [disabled]="!isUpdateMode">
        </div>

        <div class="input-group input-group-md mb-3">
            <span class="input-group-text">profession</span>
            <input type="text" class="form-control" [(ngModel)]="user.profession" [disabled]="!isUpdateMode">
        </div>


        <div class="input-group input-group-md mb-3">
            <span class="input-group-text">Created On</span>
            <input type="text" class="form-control" [value]="user.createdAt?.toString() | date:'d/M/yy, h:mm a'"
                disabled>
        </div>


        <div class="d-grid gap-2" *ngIf="!isUpdateMode">
            <button type="button" class="btn btn-primary" (click)="update()">Update Profile Details</button>
        </div>

        <div class="d-grid gap-2" *ngIf="isUpdateMode">
            <button type="button" class="btn btn-success" (click)="save()">Save</button>
            <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
        </div>
    </div>
</div>

<div class="profile-container" *ngIf="activeTab === 'Role'">
    <div class="profile-card">
        <div class="profile-header text-center mb-2">
            <h2 class="m-3">{{userRole}}</h2>

        </div>
    </div>
</div>

<app-footer></app-footer>