<footer style=" bottom: 0; width: 100%; margin-top: 1px;">
    <div class="footerContainer" *ngIf="isShowFooter">
        <div class="socialIcons">
            <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.linkedin.com/in/deepak-nayak-6ab5a0334/"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://x.com/DeepakNayak5526"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://www.google.com/?zx=1758951734969&no_sw_cr=1"><i class="fa-brands fa-google-plus"></i></a>
            <a
                href="https://www.google.com/search?q=youtube&sca_esv=89ebb62b8b040c7e&sxsrf=AE3TifOxTOhTlXPK8f4tM95iNkSiDylE7g%3A1758951734333&source=hp&ei=NnnXaN3lEcbjkPIP6PWJ8A0&iflsig=AOw8s4IAAAAAaNeHRoA5TulAO-C08MgvAYyPj2XVGVQI&ved=0ahUKEwjd2LLqnfiPAxXGMUQIHeh6At4Q4dUDCCw&uact=5&oq=youtube&gs_lp=Egdnd3Mtd2l6Igd5b3V0dWJlMgQQIxgnMhAQLhiABBixAxhDGIMBGIoFMgoQABiABBhDGIoFMgoQABiABBhDGIoFMgoQABiABBhDGIoFMgoQABiABBhDGIoFMgoQABiABBhDGIoFMgoQABiABBhDGIoFMg0QABiABBixAxhDGIoFMhAQABiABBixAxhDGIMBGIoFSIsdUMAKWIQYcAF4AJABAJgB0gGgAfEKqgEFMC40LjO4AQPIAQD4AQGYAgigAsQLqAIKwgIHECMYJxjqAsICBxAuGCcY6gLCAg0QLhjRAxjHARgnGOoCwgINECMY8AUYJxjqAhieBsICCxAuGIAEGLEDGIMBwgIOEAAYgAQYsQMYgwEYigXCAhEQLhiABBixAxjRAxiDARjHAcICCxAAGIAEGLEDGIMBwgIIEAAYgAQYsQOYAx3xBcKojrf9TNE9kgcFMS4yLjWgB5BEsgcFMC4yLjW4B6YLwgcHMi03LjAuMcgHPw&sclient=gws-wiz"><i
                    class="fa-brands fa-youtube"></i></a>
        </div>
        <div class="footerNav">
            <ul>
                <li><a href="#section1">Home</a></li>
                <li><a href="#section2">News</a></li>
                <li><a href="#section3">About</a></li>
                <li><a href="#section4">Contact Us</a></li>
                <li><a href="#section5">our Team</a></li>
            </ul>
        </div>

    </div>
    <div class="footerBottom">
        <h6>Copyright &copy;2025; Designed by <span class="designer">Deepak</span></h6>
    </div>
</footer>