<div class="container-fluid" style="padding-bottom: 200px;">
    <div class="row">



        <div class="col-md-9 mt-2" style="padding-left: 10px; padding-right: 0px;">
            <div class="card p-1">
                <p-toast />
                <p-toolbar styleClass="p-1">
                    <ng-template #start>
                        <!-- <p-button label="New" icon="pi pi-plus" styleClass="mx-2" (onClick)="openNew()" /> -->
                        <p-button severity="danger" label="Delete" icon="pi pi-trash" outlined
                            (onClick)="deleteSelectedExpenses()"
                            [disabled]="!selectedExpenses || !selectedExpenses.length" />
                    </ng-template>

                    <ng-template #end>
                        <!-- <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import"
                            chooseLabel="Import" auto customUpload styleClass="mr-2 inline-block"
                            [chooseButtonProps]="{ severity: 'secondary' }" /> -->
                        <p-button label="Export" icon="pi pi-upload" severity="secondary" (onClick)="exportCSV()" />
                    </ng-template>
                </p-toolbar>

                <p-table #dt [value]="expenses" [rows]="10" [columns]="cols" [paginator]="true" [scrollable]="true"
                    [(selection)]="selectedExpenses" [rowHover]="true" dataKey="id" [rowsPerPageOptions]="[10, 25, 50]"
                    scrollHeight="90vh" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [showCurrentPageReport]="true" [filterDelay]="0">



                    <!-- Table Header -->
                    <ng-template #header>
                        <tr>
                            <th style="width: 3rem">
                                <p-tableHeaderCheckbox />
                            </th>
                            <th pSortableColumn="expenseDate" style="min-width:10rem; position: relative;">
                                Expense Date
                                <p-sortIcon field="expenseDate"></p-sortIcon>
                                <p-columnFilter type="date" field="expenseDate" display="menu" matchMode="dateIs"
                                    style="position: absolute; right: 0; top: 50%; transform: translateY(-50%);">
                                </p-columnFilter>
                            </th>


                            <th pSortableColumn="category" style="min-width: 10rem;  position: relative;">
                                Category
                                <p-sortIcon field="category" />
                                <p-columnFilter type="text" field="category" display="menu" class="ml-auto"
                                    style="position: absolute; right: 0; top: 50%; transform: translateY(-50%);" />
                            </th>
                            <th pSortableColumn="amount" style="min-width:10rem; position: relative;">
                                Amount
                                <p-sortIcon field="amount" />
                                <p-columnFilter type="numeric" field="amount" display="menu"
                                    placeholder="Filter by amount"
                                    style="position: absolute; right: 0; top: 50%; transform: translateY(-50%);">
                                </p-columnFilter>
                            </th>
                            <th pSortableColumn="description" style="min-width: 10rem; position: relative;">
                                Description
                                <p-sortIcon field="description" />
                                <p-columnFilter type="text" field="description" display="menu" class="ml-auto"
                                    style="position: absolute; right: 0; top: 50%; transform: translateY(-50%);" />
                            </th>
                            <th style="min-width: 10rem; text-align: center;">
                                Actions
                            </th>
                        </tr>
                    </ng-template>

                    <!-- Table Body -->
                    <ng-template #body let-expense>
                        <tr>
                            <td style="width: 3rem">
                                <p-tableCheckbox [value]="expense" />
                            </td>
                            <td style="min-width: 10rem">{{ expense.expenseDate | date: 'MM/dd/yyyy'}}</td>
                            <td style="min-width: 10rem">{{ expense.category }}</td>
                            <td style="min-width: 10rem">{{ expense.amount | number: '1.2-2' }}</td>
                            <td style="min-width: 10rem" [title]="expense.description">
                                {{ expense.description | truncate:30 }}
                            </td>

                            <td>
                                <p-button icon="pi pi-pencil" styleClass="mx-4" [rounded]="true" [text]="true"
                                    (click)="editExpense(expense)" />
                                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true"
                                    [text]="true" (click)="deleteExpense(expense)" />
                            </td>
                        </tr>


                    </ng-template>


                    <!-- Summary -->
                    <ng-template #summary>
                        <div class="flex items-center justify-between">
                            In total there are {{ expenses ? expenses.length : 0 }} records.
                        </div>
                    </ng-template>

                </p-table>





                <p-confirmDialog [style]="{ width: '450px' }" />
            </div>
        </div>

        <!-- Right Section (Form) -->
        <div class="col-md-3 mt-2">

            <form [formGroup]="useForm" (ngSubmit)="onSubmit()" class="form-section card p-3 card-border"
                style="background-color:#f8f9fa;">


                <h5 class="mb-3" style="text-align: center; margin-top: 30px;">
                    {{ isEditMode ? 'Update Expense' : 'Add Expense' }}
                </h5>

                <!-- Category -->
                <div class="mb-3">
                    <label for="sel2" class="form-label">Select Category:</label>
                    <select class="form-select" id="sel2" formControlName="category"
                        (change)="onCategoryChange($event)">
                        <option value="" disabled selected>Choose a category</option>
                        <option *ngFor="let category of allCategories" [value]="category">
                            {{ category }}
                        </option>
                        <option value="OTHERS">OTHERS</option>
                    </select>

                    <div *ngIf="useForm.get('category')?.invalid && useForm.get('category')?.touched"
                        class="text-danger small">
                        Category is required
                    </div>
                </div>

                <!-- show this when "Others" selected -->
                <div *ngIf="isAddNewCategory" class="mb-3">
                    <label class="form-label">New Category:</label>
                    <input type="text" class="form-control" placeholder="Enter new category"
                        formControlName="newCategory" (input)="checkDuplicateCategory()" />

                    <!-- Validation errors -->
                    <div *ngIf="useForm.get('newCategory')?.touched && useForm.get('newCategory')?.invalid"
                        class="text-danger small">
                        <div *ngIf="useForm.get('newCategory')?.errors?.['required']">
                            New Category is required
                        </div>
                        <div *ngIf="useForm.get('newCategory')?.errors?.['minlength']">
                            New Category must be at least 3 characters long
                        </div>
                    </div>

                    <!-- Duplicate category message -->
                    <div *ngIf="isDuplicateCategory" class="text-danger small">
                        This category already exists!
                    </div>
                </div>





                <!-- Amount -->
                <div class="mb-3">
                    <label class="form-label">Amount:</label>
                    <div class="input-group">
                        <span class="input-group-text">₹</span>
                        <input type="number" class="form-control" placeholder="Enter amount" formControlName="amount">
                    </div>
                    <div *ngIf="useForm.get('amount')?.touched && useForm.get('amount')?.invalid"
                        class="text-danger small">
                        <div *ngIf="useForm.get('amount')?.errors?.['required']">
                            Amount is required
                        </div>
                        <div *ngIf="useForm.get('amount')?.errors?.['min']">
                            Amount must be greater than 0
                        </div>
                        <div *ngIf="useForm.get('amount')?.errors?.['max']">
                            Amount must be lesser than 100000000
                        </div>
                    </div>

                </div>

                <!-- Date Picker -->
                <div class="mb-3">
                    <label class="form-label">Date:</label>
                    <input type="date" class="form-control" formControlName="expenseDate">
                    <div *ngIf="useForm.get('expenseDate')?.invalid && useForm.get('expenseDate')?.touched"
                        class="text-danger small">
                        Date is required
                    </div>
                </div>

                <!-- Description -->
                <div class="mb-3">
                    <label for="comment" class="form-label">Description:</label>
                    <textarea class="form-control" rows="6" id="comment" formControlName="description" maxlength="500"
                        placeholder="Enter description" (input)="updateCharCount()"></textarea>
                    <div class="text-end text-muted mt-1">
                        {{charCount}} / 500
                    </div>
                </div>


                <!-- Buttons -->
                <div class="d-flex justify-content-center gap-3">
                    <button type="button" class="btn btn-secondary" (click)="onClear()">Clear</button>
                    <button type="submit" class="btn btn-primary" [disabled]="useForm.invalid">
                        {{ isEditMode ? 'Update' : 'Add Expense' }}
                    </button>
                </div>


            </form>

        </div>
    </div>
</div>