<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<div class="forgot-container" style="height: 450px; background-color: rgb(242, 236, 236);">
    <div class="text-center">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
            style="width: 150px;" alt="logo" />
    </div>
    <h4 class="fw-bold pb-4">Forgot Password?</h4>

    <div *ngIf="isErrorOccured" style="color: red; margin-bottom: 20px;">
        {{errorMsg}}
    </div>

    <form id="forgotPasswordForm" [formGroup]="forgotPwdForm">
        <div *ngIf="isLoaderOn" class="overlay" id="loading">
            <div class="d-flex justify-content-center">
                <div class="spinner-border" style="width: 3.5rem; height: 3.5rem; color: #245aa0;" role="status">

                </div>
            </div>
        </div>


        <div *ngIf="!isEmailSent" class="mb-3 position-relative">
            <span class="input-icon">
                <i class="bi bi-envelope"></i>
            </span>
            <input type="email" formControlName="email" class="form-control" placeholder="Enter your email"
                [ngClass]="{'border-danger': forgotPwdForm.controls['email'].touched && forgotPwdForm.controls['email'].invalid}" />
            @if (forgotPwdForm.controls['email'].touched) {

            <div class="text-danger">

                @if(forgotPwdForm.controls['email'].errors?.['email']){
                <span>Invalid Email!!!</span>
                }
            </div>
            }



        </div>


        <div *ngIf="isEmailSent" class="text-secondary py-3 h5">
            {{successMsg}}
        </div>

        <button *ngIf="!isEmailSent" type="button" [disabled]="isFormValid()" class="btn btn-primary w-100 mt-4 p-2"
            (click)=sendResetPwdMail()>Reset
            Password</button>
        <a class="back-link" routerLink="/login">Back to Login</a>
    </form>
</div>