<nav class="navbar navbar-expand-lg navbar-light bg-light px-3 py-0">
    <!-- Logo -->
    <a class="navbar-brand d-flex align-items-center" href="#">
        <img class="logo-width" src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
            alt="logo" style="height: 60px; width: 70px;" />
        <span class="fw-bold fs-4">DEEPSPEND</span>
    </a>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menu -->
    <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
        <ul class="navbar-nav mx-auto gap-3">
            <li class="nav-item">
                <a class="nav-link fw-medium fs-5" href="#home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fw-medium fs-5" href="#features">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fw-medium fs-5" href="#highlights">Highlights</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fw-medium fs-5" href="#pricing">Pricing</a>
            </li>
        </ul>

        <!-- Buttons -->
        <div class="d-flex gap-2">
            <a href="login.html" class="btn btn-outline-primary rounded-pill">Login</a>
            <a href="register.html" class="btn btn-primary rounded-pill">Register</a>
        </div>
    </div>
</nav>