<nav class="navbar navbar-expand-lg custom-navbar px-3 py-2 shadow-sm">
    <!-- Logo -->
    <a class="navbar-brand d-flex align-items-center" href="#">
        <img class="logo-width" src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
            alt="logo" style="height: 55px; width: 80px;" />
    </a>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menu -->
    <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
        <ul class="navbar-nav gap-3">
            <li class="nav-item">
                <a class="nav-link fs-5" routerLink="/home" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">Home</a>
            </li>
            <li class="nav-item" *ngIf="userRole();">
                <a class="nav-link fs-5" routerLink="/charts" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">Dashboard</a>
            </li>
            <li class="nav-item" *ngIf="userRole();">
                <a class="nav-link fs-5" routerLink="/expense-mgmt" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">Expense Management</a>
            </li>
            <li class="nav-item" *ngIf="userRole() && isAdmin()">
                <a class="nav-link fs-5" routerLink="/user-mgmt" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">User Management</a>
            </li>
        </ul>



        <!-- Buttons -->
        <div class="d-flex gap-2">
            <div class="d-flex align-items-center gap-3" *ngIf="!userRole();">
                <div>
                    <button type="button" class="btn btn-outline-info btn-custom-border1 mx-3"
                        routerLink="/login">login</button>


                    <button type="button" class="btn btn-outline-info btn-custom-border1"
                        routerLink="/register">register</button>
                </div>

            </div>

            <div class="dropdown" *ngIf="userRole();">
                <button type="button" class="btn dropbtn  btn-custom-border">
                    <div class="user-profile">
                        <div class="avatar">DN</div>
                        <div class="full-name">Deepak Nayak</div><i class="fa fa-caret-down px-2"></i>
                    </div>
                </button>
                <div class="dropdown-content fs-5">
                    <a href="#"><i class="fa fa-user mx-2"></i> Profile</a>
                    <a href="#"><i class="fa fa-cog mx-2"></i> Settings</a>
                    <a (click)="logout()"><i class="fa fa-sign-out mx-2"></i> Logout</a>
                </div>
            </div>


        </div>


    </div>
</nav>