<nav class="navbar navbar-expand-lg custom-navbar px-3 py-2 shadow-sm">
    <!-- Logo -->
    <a class="navbar-brand d-flex align-items-center" href="#">
        <img class="logo-width" src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
            alt="logo" style="height: 55px; width: 80px;" />
    </a>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menu -->
    <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
        <ul class="navbar-nav gap-3">
            <li class="nav-item">
                <a class="nav-link fs-5" routerLink="/home" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fs-5" routerLink="/charts" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">Charts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fs-5" routerLink="/expense-mgmt" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">Expense Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fs-5" routerLink="/user-mgmt" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">User Management</a>
            </li>
        </ul>

        <!-- Buttons -->
        <div class="d-flex gap-2">
            <a routerLink="/login" class="btn profile-btn rounded-pill px-4 fw-semibold"
                routerLinkActive="active">Profile</a>
        </div>
    </div>
</nav>