.gradient-custom-2 {
    /* fallback for old browsers */


    background: linear-gradient(to right, #eae4e4, #eae4e4, #f0ebf0, #e8e4ea);

}

/* .gradient-custom-3 {
    background: #84fab0;

    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));

    background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
} */

.gradient-custom-4 {
    /* fallback for old browsers */
    background: #84fab0;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
}

.custom-alert {
    position: fixed;
    top: 20px;
    right: 20px;
    /* Pushes it to the right side */
    z-index: 1050;
    /* Keeps it above other elements */
    min-width: 250px;
}

.overlay {
    position: absolute;
    top: 30%;
    left: 50%;
    opacity: 0.8;
    transform: translate(-50%, -50%);
    z-index: 9999;
    /* ensures it stays on top */
}

form {
    position: relative;
    z-index: 1;
}