.custom-alert {
    position: fixed;
    top: 20px;
    right: 20px;
    /* Pushes it to the right side */
    z-index: 1050;
    /* Keeps it above other elements */
    min-width: 250px;
}

.overlay {
    position: absolute;
    top: 30%;
    left: 50%;
    opacity: 0.8;
    transform: translate(-50%, -50%);
    z-index: 9999;

    /* ensures it stays on top */
}

form {
    position: relative;
    z-index: 1;
}

.form-label {
    margin-bottom: 2px;

}